html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    overflow: hidden;
    display: block;
    padding: 150px;
}
img {
    width: 100%;
}
p{
    font-size: 23px;
    font-weight: 600;
    color: #3b506c;
}
header {
    padding: 15px 52px 8px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 16px 21px -10px;
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
}

.container {
    width:1200px;
    margin:auto;
    /* padding: initial; */
}
.logo {
    width: 50%;
    float: left;
}

nav{
    width: 50%;
    float: right;
}

nav ul{
    margin: 0px;
    padding: 8px;
    list-style: none;
    text-align: right;
}

nav ul li{display: inline;padding: 0px 15px 14px;}

nav ul li a{
    text-decoration:none;
    color:#3b506c;
    font-weight: 600;
}

.logo img {
    width: 121px;
} 

/* banner */
.banner {
    text-align: center;
    margin: 150px 0px 50px 0px;
}

.banner h1 {
    color: #3b506c;
    font-size: 50px;
}
.banner h1 span {
    color: #0c66ff;
}

.banner p {
    font-size: 18px;
}

.banner img {
    width: 50%;
    margin: 50px 0 0 0;
}
/* completed project */
.projects {
    width: 50%;
    float: left;
}
.project-left{
    text-align: right;
    padding: 0px 17px 0px 0px;
}
.project-left h2 {
    font-size: 50px;
    color: #f50505;
}
.project-left p {
}

.project-right{
    font-size: 55px;
    color: #3b506c;
}
.project-right h2 {
    font-size: 50px;
}
/* blog section */
.blog-parent {
    display: flex;
    margin: 70px auto;
    padding: 69px 11px;
}
.blog {
    box-shadow: rgba(63, 61, 86, 0) 0px 2px 4px 0px, rgb(59 80 108) 0px 2px 16px 0px;
    margin: 25px;
    padding: 20px;
    border-radius: 15px;
    border: 2px;
}
.blog-item {
}
.blog-item img {
    width: 100%;
    height: 220px;
    padding-top: 20px;
}
.blog-item h3 {width: auto;}

.blog-item p {width: auto;}

.blog:hover {
    box-shadow: rgb(0, 0, 0) 0px 2px 4px 0px, rgba(14, 11, 58, 0.493) 0px 2px 16px 0px;
color: #0c66ff;
background-color: #8793a371;
}

.color1 {
    background-color: rgb(246 200 192 / 62%);
}
.color2 {
    background-color: #58353a5e;
    overscroll-behavior: none;
}
.color2 img {

}
.color3 {
    
background-color: #36438fad;
}
/* footer */
footer {
    background-color: #80808029;
    padding: 45px 0;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col {}
.col h4 {
    color: #0c66ff;
}
.col li {
    color: #3b506c;
    margin: 20px 0;
    list-style: none;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 1000px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }  